# SPDX-FileCopyrightText: 2025-2026 Neptuwunium
#
# SPDX-License-Identifier: EUPL-1.2

.idea
.vs
.vscode
.clangd

subprojects/*
!subprojects/packagefiles
!subprojects/*.wrap
!subprojects/*.wrap.license
